<%- include("partials/header", { title: "患者一覧" }) %>

<h1>患者一覧</h1>

<p>
  <a href="/admin/patients/add">＋患者登録</a>
</p>

<table border="1" cellpadding="8">
  <tr>
    <th>患者番号</th>
    <th>氏名</th>
    <th>操作</th>
  </tr>

  <% patients.forEach(p => { %>
    <tr>
      <td><%= p.patientNumber %></td>
      <td><%= p.name %></td>
      <td>
        <a href="/admin/patients/edit/<%= p.id %>">編集</a>
        &nbsp;
        <a href="/admin/patients/delete/<%= p.id %>">削除</a>
      </td>
    </tr>
  <% }) %>
</table>

<br>

<a href="/admin">戻る</a>

<%- include("partials/footer") %>